<h1>Details Form </h1>
<div class="container">
    <div class="col-12 col-lg-9 mt-2">
        {{!-- {{detail.img}} --}}
        <div class="card">
            <img src={{detail.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{detail.title}}</h5>
                <p class="card-text">{{detail.description}}</p>
                <a href="/form" class="btn btn-primary">Back Form</a>
            </div>
        </div>
    </div>
</div>